/*
    style.css
*/

/* -------------------------------------------------------------- */
/* Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');
/* font-family: 'League Gothic', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
/* font-family: 'Roboto', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');
/* font-family: 'Cedarville Cursive', cursive; */

/* -------------------------------------------------------------- */
/*
font-family: 'Fugaz One', cursive;
font-family: 'Quicksand', sans-serif;
*/
/* Page Level Rules */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'League Gothic', sans-serif;
    text-transform: uppercase;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.bold{
    font-weight:700;
}

/* -------------------------------------------------------------- */
/* Section Level Rules */

.section-spacing {
    padding: 1em
}


/* -------------------------------------------------------------- */
/*
677f92 - blue/gray
9badbc - light blue
C4663F - rust
FD9B7F - salmon
FFE436 - yellow

/* Color Rules */
.title {
    background-size:100%;
    background-position: 50% 50%;
}

.title_text {
    color:white;
    font-size: 12vw;
    /* -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(0, 0, 0, 0.12); */
    text-shadow:  4px 4px 1px #667b99;
}

.bg1 {
    background-color: #677f92;
    color: #ffffff;
}


.bg2 {
    background-color: #9badbc;
    color: white;
}

.bg3 {
    background-color: white;
    color: #32424f
}
.bg3 h1{
    text-align: center;
    color: #9badbc
}

/* -------------------------------------------------------------- */
/* Links */
.bg1 a ,.bg1  a:link ,.bg1  a:visited {
    color: #FFE436;
}

.bg1 a:hover,.bg1  a:link:hover,.bg1  a:visited:hover {
    color: #FD9B7F  ;
}

.bg2 a ,.bg2  a:link ,.bg2  a:visited {
    color: #FFE436;
}

.bg2 a:hover,.bg2  a:link:hover,.bg2  a:visited:hover {
    color: #FD9B7F ;
}

/* -------------------------------------------------------------- */
/* Accordian */

.accordion button {
    color: #677f92;
    font-weight:700;
    font-family: 'Roboto', sans-serif;
}

.accordion button:hover {
    color: #FD9B7F;
}

.accordion .card {
    background-color:#677f92;
}

.accordion .card-header {
    background-color: white;
    padding: .5em;
}

:focus { /*removes blue highligh around text*/
    outline: 0 !important;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0) !important;
  }

/* -------------------------------------------------------------- */
/* Tooltips */
.tooltip-inner{
    color:#32424f ;
    background-color: #9badbc77 ;
    transform: translateY(-.25em);
}
.bs-tooltip-auto[x-placement^=left] .arrow::before, .bs-tooltip-left .arrow::before {
    border-left-color: #9badbc77  !important;
    transform: translateY(-.25em);
}
.bs-tooltip-auto[x-placement^=right] .arrow::before, .bs-tooltip-right .arrow::before {
    border-right-color: #9badbc77  !important;
    transform: translateY(-.25em);
}
.webTool .bs-tooltip-auto[x-placement^=bottom] .arrow::before, .bs-tooltip-bottom .arrow::before {
    border-bottom-color: #9badbc77 !important;
    transform: translateY(-.25em);
}
/* -------------------------------------------------------------- */
/* Icons */

@media (max-width: 992px) {
    .fa-instagram, .fa-linkedin, .fa-envelope-open-text{
        font-size: 1.5em;
    }
}
@media (min-width: 992px) {
    .fa-instagram, .fa-linkedin, .fa-envelope-open-text{
        font-size: 2em;
        
    }
}
.fa-instagram, .fa-linkedin, .fa-envelope-open-text{
    color:#677f92;
    padding: .3em;
    margin:.1em;
}
.fa-instagram:hover, .fa-linkedin:hover, .fa-envelope-open-text:hover{
    color:#ffffff;
    background-color: #677f92;
    border-radius:50%;
}

/* -------------------------------------------------------------- */
/* Text Rules */

/* utility class to center text */
.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.pPad0 {
    margin: 0em;
}

/* -------------------------------------------------------------- */
/* Form */

form{
    display:grid;
}
.inlineRadio {
    display:block;
    margin-left: auto;
    margin-right: auto;
}

form input[type="submit"]{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.required:after {
    content:" *";
    color: #FD9B7F;
    font-weight: 600;
}

/* -------------------------------------------------------------- */
/* Image Rules */

/* utility class to center image */
.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* utility class to right align an image */
.float-left {
    float: left;
    padding: 10px;
}

/* utility class to left align an image */
.float-right {
    float: right;
    padding: 10px;
}

/* hack utility class to clear an image "overflow" */
.clearfix {
    overflow: auto;
}

/* -------------------------------------------------------------- */
/* Nav Bar. */

.navbar-brand {
    width: 1.5em;
    padding: 0;
    margin: 0;
}

@media (max-width: 992px) {
    .nav-item  {
        padding-left: 1em;
    }
}

.nav-item:hover {
    background-color: #9badbc   !important;
    border-radius: .75em;
}

.nav-link{
    color: #677f92 !important;
}
.nav-link:hover {
    color: white !important;
    border-radius: 8;
}

.toggle {
    color: #677f92;
    background-color: white;
    padding-top: .2em;
    padding-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: 8px;
}

.toggle:hover {
    color: white;
    background-color: #677f92;
    padding-top: .2em;
    padding-bottom: .25em;
    padding-left: .5em;
    padding-right: .5em;
    border-radius: .5em;

}


/* -------------------------------------------------------------- */
/* Misc. */
/* .button {
    padding: .5em;
    border-radius: 8px;
    background-color: white;
    color: #ff7b57;
    border-color: transparent;
    font-family: 'Quicksand', sans-serif;

}

.button:hover {
    background-color: #ff7b57;
    color: white;
} */

.button-submit {
    padding-left: .2em;
    padding-right: .2em;
    padding-top: .1em;
    padding-bottom: .1em;
    border-radius: 8px;
    background-color: #9badbc ;
    color: white;
    border-color: transparent;
    text-align: center;
}

.button-submit:hover {
    background-color: #677f92  ;
    color: white;
}

hr{
        height: 1px;
        background-color: #677f92;
        border: none;
        border-radius: 8px;
    }

